*{
 font-family:Verdana, Geneva, sans-serif;
}
h3{
	margin:10px 0;
}
h1{
	margin:0;
}
h2{
	margin:0;
}
body{
	margin: 1em;
}
header{
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
    color: #fff;
    height: 120px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
	background-color: #455a64;
	display:block;
}
#panelIzq{
	
	background: #fff;
    box-shadow: 0 1px 17px rgba(0,0,0,.5);
    color: #444545;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    visibility: visible;
    width: 275px;
    z-index: 12;
}
#headercont{
	height: 100%;
    padding-left: 300px;
    padding-right: 275px;
    transition: padding-left .3s ease-in;
    z-index: 2
	
}
#headercont span h1{
 padding: 10px;
}
#panelTit{
	height: 60px;
	background: #455a64;
	color: #fff;
}
#panelTit h1{
	margin: 0;
	padding: 10px 30px;
	
}
#panelCont ul{
	margin: 50px 0 0 0;
	padding: 0;
	
}
#panelCont ul li{
	height: 46px;
	cursor: pointer;
    overflow: hidden;
	font-size: 14px;
    letter-spacing: normal;
    line-height: 20px;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#panelCont ul li :hover{
	 background-color:#1E90FF
}
#panelCont ul li a{
	background-position: 30px 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    color: #444545;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 13px 50px;
    padding-right: 0;
    position: relative;
}
a{
	outline: none;
    text-decoration: none;
}
#prinAf{
	padding: 0 0 0 275px;
	margin-top: 100px;
	
}
#prin{
	
	margin:0px;
	padding: 25px;
	max-width: 980px;
	display: block;
    margin: auto;
    max-width: 980px;
    overflow: hidden;
    width: 95%;
}

#addProd{
	padding:10px;
}
#tablaCont{
	margin-top: 25px;
	border-collapse: collapse;
	color: #444;
    font-size: 14px;
    text-align: left;
    width: 100%;
}
tr {
    border-bottom: 1px solid #e6e6e6;
    font-weight: normal;
    height: 55px;
    line-height: 35px;
    vertical-align: middle;}
	

